@import "~styles/utils/mixins.scss";

.tab-container-profile {
    .profile-form-fields {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 540px));
    }

    .profile-form-button {
        > button {
            width: 100px;
        }
    }

    .profile-settings {
        padding-right: 40px;
        margin-top: 40px;

        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}
