@import "~styles/utils/mixins.scss";

.footer {
    margin: 0;
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid rgba(0, 40, 100, 0.12);
    color: rgba(0, 0, 0, 0.6) !important;
    font-size: 15px;

    a {
        color: #101010;
        text-decoration: none;
    }
}

@media print {
    .footer  {
        display: none;
    }
}
