@import "~styles/utils/mixins.scss";

.residence-card {
    margin-bottom: 20px;

    &_in-row-two {
        display: flex;

        > div {
            width: calc(50% - 10px);

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    .list-actions {
        &__add-button {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}

.residence-main-info {
    .residence-info {
        width: calc(50% - 20px);
    }

    .two-object-column {
        > div {
            width: calc(50% - 20px);

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

        > button {
            float: right;
            width: 150px;
            margin-top: 25px;
        }
    }
}
