@import "~styles/utils/mixins.scss";

.residence-card {
    margin-bottom: 20px;

    &_in-row-two {
        > div {
            width: calc(50% - 10px);
        }
    }

    .list-actions {
        &__add-button {
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
}
