.form-group {
    margin-bottom: 10px;
    min-height: 85px;

    .form-label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .form-text {
        margin: 0;
        font-size: 14px;
    }
}
