@import "~styles/utils/mixins.scss";

@mixin getMenuIcon($type) {
    .side-menu__icon {
        &[data-icon=#{$type}] {
            background-image: url("./img/#{$type}-inactive.svg");
        }
    }

    &:hover, &.active {
        .side-menu__icon {
            &[data-icon=#{$type}] {
                background-image: url("./img/#{$type}-active.svg");
            }
        }
    }
}

.app-sidebar {
    width: 230px;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease,
    width 0.3s ease;
    overflow-y: auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__toggle {
        padding: 7px;
        height: 35px;
        margin: 7px 0;

        > span {
            display: block;
            width: 18px;
            height: 3px;
            background-color: #3e4b5b;
            transition: background-color 0.25s ease;
            margin: 3px 0;
        }

        &:hover {
            > span {
                background-color: #0061da;
            }
        }
    }

    &[data-sidebar="minimize"] {
        width: 50px;
    }
}

.side-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 40, 100, 0.12);

    &__item {
        @include getMenuIcon("dashboard");
        @include getMenuIcon("users");
        @include getMenuIcon("residences");
        @include getMenuIcon("payments");
        @include getMenuIcon("settings");

        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 15px;
        font-size: 1.0em;
        text-transform: uppercase;
        text-decoration: none !important;
        border-left: 3px solid transparent;
        transition: border-left-color 0.3s ease,
        background-color 0.3s ease;

        &.active {
            background: #37D7C6 !important;
            border-left-color: #37D7C6 !important;

            .side-menu {
                &__label {
                    color: #ffffff !important;
                }
            }
        }

        &:hover {
            background: rgba(55, 215, 198, 0.7);
            border-left-color: rgba(55, 215, 198, 0.7);

            .side-menu {
                &__label {
                    color: #ffffff !important;
                }
            }
        }
    }

    &__icon {
        @include square(20px);

        background-size: 20px 20px;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    &__label {
        color: #3e4b5b;
        font-weight: 400;
        white-space: nowrap;
        flex: 1 1 auto;
    }
}
