@import "~styles/utils/mixins.scss";

.app-sidebar {
    width: 230px;
    height: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease,
    width 0.3s ease;
    overflow-y: auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__toggle {
        padding: 7px;
        height: 35px;
        margin: 7px 0;

        > span {
            display: block;
            width: 18px;
            height: 3px;
            background-color: #3e4b5b;
            transition: background-color 0.25s ease;
            margin: 3px 0;
        }

        &:hover {
            > span {
                background-color: #0061da;
            }
        }
    }

    &[data-sidebar="minimize"] {
        width: 50px;
    }
}

.side-menu {
    margin-bottom: 0;
    padding-bottom: 40px;
    border-top: 1px solid rgba(0, 40, 100, 0.12);

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        padding: 12px 15px;
        font-size: 1.0em;
        text-transform: uppercase;
        font-weight: 400;
        border-left: 3px solid transparent;
        transition: border-left-color 0.3s ease,
        background-color 0.3s ease;
        color: #3e4b5b;

        &.active {
            background: #0061da;
            border-left-color: #0061da;
            text-decoration: none;
            color: #fff;
        }
    }

    &__icon {
        flex: 0 0 auto;
        width: 25px;
    }

    &__label {
        white-space: nowrap;
        flex: 1 1 auto;
    }
}
