@import "~styles/utils/mixins.scss";

$widthForTwoBlocksPerLine: calc(50% - 20px);

.residence-main-info {
    .residence-info {
        width: $widthForTwoBlocksPerLine;

        &__buttons {
            margin: 25px 0 0 auto;

            > button {
                max-width: 150px;
                width: $widthForTwoBlocksPerLine;

                &:first-child {
                    margin-left: 10px;
                }
            }
        }
    }

    .two-object-column {
        > div {
            width: $widthForTwoBlocksPerLine;

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

    }

    .button {
        &-view {
            display: block;
        }

        &-hidden {
            display: none;
        }
    }
}

@media (max-width: 1350px) {
    .residence-main-info {
        .residence-info {
            width: 100%;
        }
    }
}
