@import "~styles/utils/mixins.scss";

.residence-main-info {
    .residence-info {
        width: calc(50% - 20px);

        &__buttons {
            margin-top: 25px;

            > button {
                float: right;
                width: 150px;
            }
        }
    }

    .two-object-column {
        > div {
            width: calc(50% - 20px);

            &:first-child {
                float: left;
            }

            &:last-child {
                float: right;
            }
        }

    }

    .button {
        &-view {
            display: block;
        }

        &-hidden {
            display: none;
        }
    }
}
