@import "~styles/utils/mixins.scss";

.breadcrumb {
    background: none;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 10px 0 0;

    &_root {
        color: #00d8c7;
        cursor: pointer;

        &:hover {
            color: #38c3b2;
        }

        &[data-active=false] {
            color: #212529;
            cursor: default;
        }
    }

    &_arrow {
        @include square(12px);

        background-image: url("./img/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        margin: 6px 8px 0;

        &[data-visible=false] {
            display: none;
        }
    }
}
