@import "~styles/utils/mixins.scss";

.breadcrumb {
    background: none;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 6px 0 0;

    &__root {
        color: #00d8c7;
        cursor: pointer;

        &:hover {
            color: #38c3b2;
        }

        &[data-active=false] {
            color: #212529;
            cursor: default;
        }

        &::before {
            @include square(12px);

            content: "";
            display: block;
            float: right;
            background-image: url("./img/arrow-right.svg");
            background-repeat: no-repeat;
            background-size: contain;
            margin: 6px 8px 0;
        }

        &:last-child:before {
            display: none;
        }
    }

}
