.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;

	&-single {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-main {
		flex: 1 1 auto;
	}

	&-content {
		margin: .75rem 0;
	}
}

@media (min-width: 768px) {
	.page-content {
		margin: 1.5rem 0;
	}
}