@import "~styles/utils/mixins.scss";

.page-card {
    border-radius: 7px;
    background-color: $background-main-color;
    transition: 0.25s;

    &-header {
        min-height: 55px;
        padding: 16px 24px;
        border-bottom: 1px solid #e0e5ec;
        display: flex;

        &__title {
            font-size: 18px;
            font-weight: 600;
            color: $color-font-primary;
            margin: 0 auto 0 0;
        }

        &__print {
            @include square(20px);

            margin: 3px 0 0 auto;
            display: block;
            background-image: url("./img/print.svg");
            background-repeat: no-repeat;

            &[data-show=false] {
                display: none;
            }
        }

        &[data-hidden=true] {
            display: none;
        }
    }

    &-body {
        padding: 16px 24px;
    }

    &:hover {
        box-shadow: 0 8px 24px 0 rgba(185, 185, 185, 0.5);
    }
}

@media print {
    .page-card-header__print {
        display: none;
    }
}
