@import "~styles/utils/mixins.scss";

$widthForTwoBlocksPerLine: calc(50% - 20px);

.code-form-fields {
    width: 100%;
    display: flex;

    > div {
        width: calc(100% / 3 - 20px);
        margin-right: 20px;
    }

    &__buttons {
        margin-top: 25px;

        > button {
            max-width: 150px;
            width: $widthForTwoBlocksPerLine;

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .code-form-fields {
        > div {
            width: calc(100% / 2 - 20px);

            &:last-child {
                display: none;
            }
        }
    }
}
