@import "~styles/utils/mixins.scss";
@import "~styles/utils/variables.scss";

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: $background-main-color;
    z-index: 999;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 40, 100, 0.12);

    &-brand {
        color: inherit;
        margin-right: 0;
        font-size: 1.25rem;
        white-space: nowrap;
        font-weight: 600;
        padding: 0;
        transition: .3s opacity;
        line-height: 2.9rem;
        min-width: 200px;
        text-align: center;
        display: flex;

        &-img {
            background-image: url("./img/logo-loop.svg");
            background-size: 110px 36px;
            background-repeat: no-repeat;
            margin: auto;
            width: 110px;
            height: 36px;
        }
    }

    &-bar {
        &-person {
            margin: 0 10px;

            &__image {
                @include square(40px);

                background-color: #edeff3;
                border-radius: 50%;
                margin: 5px;
                display: flex;

                > span {
                    display: flex;
                    margin: auto;

                    &[data-show=false] {
                        display: none;
                    }
                }
            }

            &__value {
                margin: 12px 0 0;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        padding-right: 15px;
    }
}
