@import "~styles/utils/mixins.scss";

.company-info-form {
    width: 100%;
    display: flex;

    .column {
        width: calc(100% / 3 - 20px);

        &:nth-child(1) {
            margin: 0 auto 0 0;
        }

        &:nth-child(2) {
            margin: 0 auto 0 auto;
        }

        &:nth-child(3) {
            margin: 0 0 0 auto;
        }
    }

    .form {
        &__button {
            margin-top: 26px;
            width: 150px;
            float: right;
        }
    }
}
