@import "~styles/utils/mixins.scss";

.transactions-form {
    width: 100%;
    display: flex;

    &-button {
        > button {
            max-width: 150px;
            width: calc(100% / 2 - 20px);
        }
    }

    > div {
        width: calc(100% / 3 - 10px);

        &:nth-child(1) {
            margin: 0 auto 0 0;
        }

        &:nth-child(2) {
            margin: 0 0 0 auto;
        }
    }

    .transaction-settings {
        margin-top: 40px;

        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1450px) {
    .transactions-form {
        > div {
            width: calc(100% / 2 - 20px);

            &:last-child {
                display: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    .transactions-form {
        display: block;

        > div {
            width: 100%;
            margin: 0 0 15px 0 !important;
        }
    }
}
