@import "~styles/utils/mixins.scss";

$tabsHeight: 48px;
$icon-size: 30px;

.tabs-container {
    @include square(100%);

    position: relative;
    float: left;
    margin-top: 5px;

    .tabs {
        background-color: transparent;
        display: flex;
    }

    .tabs-item {
        width: 100%;
        overflow: auto;
    }

    .tab-item {
        &__label {
            display: block;
            padding: 5px 20px;
            font-size: 16px;
            font-weight: 500;
            color: rgb(62, 75, 91);
            cursor: pointer;
            text-align: center;
            min-width: 100px;

            &[data-active=true] {
                color: #00d8c7;
                cursor: default;
                border-bottom: 2px solid #00d8c7;
            }
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;

    .nav-item {
        height: 35px;
        margin-bottom: -2px;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 6px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #dee2e6 !important;
        color: #737a83;
        transition: 0.25s;

        &.active, &:hover {
            border-bottom-color: #5c5c5c !important;
            color: #484848;
        }
    }
}

.tab-content {
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }
}
