$tabsHeight: 48px;
$icon-size: 30px;

.tabs-container {
    display: flex;
    position: relative;
    height: 100%;

    .tabs {
        background-color: transparent;

        &__item {
            height: $tabsHeight !important;
            color: rgba(74, 74, 74, 0.5) !important;
            text-transform: none;
        }

        &__item, .indicator {
            &_short {
                width: 64px !important;
                min-width: 64px;
            }
        }

        .indicator {
            background-color: #53a0fd;
            height: 4px;
        }
    }

    .tabs-item {
        width: 100%;
        overflow: auto;
    }

    .tab-item {
        &_selected {
            color: #53a0fd !important;
        }

        &__label {
            font-size: 12px !important;
        }
    }
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;

    .nav-item {
        height: 35px;
        margin-bottom: -2px;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 6px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px solid #dee2e6 !important;
        color: #737a83;
        transition: 0.25s;

        &.active, &:hover {
            border-bottom-color: #5c5c5c !important;
            color: #484848;
        }
    }
}

.tab-content {
    .container {
        max-width: 100% !important;
        width: 100% !important;
    }
}
