@import "~styles/utils/variables.scss";
@import "~styles/utils/functions.scss";

.footer {
    padding: $padding;
    background-color: $color-light-grey;
    margin: auto 0 0;
    border-top: 1px solid $border-color-light-blue;
    z-index: z-index(footer);

    &-bg-white {
        background-color: #FFFFFF;
        border-top: 0;
    }
}