@import "~styles/utils/variables.scss";

.table {
    .row {
        &_body {
            &:last-child {
                .cell {
                    border-bottom-width: 1px;
                }
            }

            &:hover {
                background-color: #edeff3;
            }
        }
    }

    .cell {
        border-left-width: 0;
        cursor: default;
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:nth-child(1) {
            border-left-width: 1px;
        }

        &_header {
            text-transform: uppercase;
            padding: 8px 30px 8px 12px;
            border-bottom-width: 1px;
        }

        &_body {
            padding: 12px;
            border-bottom-width: 0;

            > span {
                color: #3e4b5b;
                font-size: 15px;
                font-weight: 400;
                line-height: 21px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    &-pagination {
        &-indicator {

        }

        &-main {
            display: block;

            .pagination {
                &[data-hidden=true] {
                    display: none;
                }

                .page-item {
                    .page-link {
                        cursor: pointer;
                    }

                    &[data-active=true] {
                        > a {
                            background-color: #00d8c7;
                            color: #ffffff;
                            font-weight: 600;
                            cursor: default;
                        }
                    }

                    &.disabled {
                        > a {
                            color: #ced4da;
                            pointer-events: none;
                            cursor: default;
                            background-color: #fff;
                            border-color: #dee2e6;
                        }
                    }
                }
            }
        }
    }
}
