@import "~styles/utils/mixins.scss";

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    &-single {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-header {
        font-size: 18px;
        font-weight: 600;
        line-height: 34px;
        margin: 0;
        display: flex;
    }

    &-breadcrumb {
        display: flex;
        margin: 0 0 0 auto;
    }

    &-title {
        display: flex;
        margin: 0 auto 0 0;
    }

    &-main {
        background-color: #edeff3;
        flex: 1 1 auto;
    }

    &-content {
        margin: 24px 0;
    }
}
