@import "~styles/utils/mixins.scss";

.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;

	&-single {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

    &-header {
        font-size: 18px;
        font-weight: 600;
        line-height: 2.5rem;
        margin: 24px 0;
    }

	&-main {
        background-color: #edeff3;
		flex: 1 1 auto;
        overflow: hidden;
	}

	&-content {
		margin: .75rem 0;
	}
}

@media (min-width: 768px) {
	.page-content {
		margin: 1.5rem 0;
	}
}
