.table, .text-wrap table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.text-wrap table {
    th, td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
}

.table td {
    padding: 0.75rem;
    vertical-align: top;
}

.border {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table thead th, .text-wrap table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(0, 40, 100, 0.12);
}

.table tbody + tbody, .text-wrap table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table, .text-wrap table .table, .table .text-wrap table {
    background-color: #f5f7fb;
}

.text-wrap {
    .table table, table table {
        background-color: #f5f7fb;
    }
}

.table-sm {
    th, td {
        padding: 0.3rem;
    }
}

.table-bordered, .text-wrap table {
    border: 1px solid #dee2e6;
}

.table-bordered th, .text-wrap table th, .table-bordered td, .text-wrap table td {
    border: 1px solid rgba(0, 40, 100, 0.12);
}

.table-bordered thead th, .text-wrap table thead th, .table-bordered thead td, .text-wrap table thead td {
    border-bottom-width: 2px;
}

.table-borderless {
    th, td, thead th, tbody + tbody {
        border: 0;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.table-hover tbody tr:hover {
    background-color: rgba(70, 127, 207, 0.06);
}

.table-primary {
    background-color: #cbdbf2;

    > {
        th, td {
            background-color: #cbdbf2;
        }
    }
}

.table-hover .table-primary:hover {
    background-color: #b7cded;

    > {
        td, th {
            background-color: #b7cded;
        }
    }
}

.table-secondary {
    background-color: #dddfe2;

    > {
        th, td {
            background-color: #dddfe2;
        }
    }
}

.table-hover .table-secondary:hover {
    background-color: #cfd2d6;

    > {
        td, th {
            background-color: #cfd2d6;
        }
    }
}

.table-success {
    background-color: #d2ecb8;

    > {
        th, td {
            background-color: #d2ecb8;
        }
    }
}

.table-hover .table-success:hover {
    background-color: #c5e7a4;

    > {
        td, th {
            background-color: #c5e7a4;
        }
    }
}

.table-info {
    background-color: #cbe7fb;

    > {
        th, td {
            background-color: #cbe7fb;
        }
    }
}

.table-hover .table-info:hover {
    background-color: #b3dcf9;

    > {
        td, th {
            background-color: #b3dcf9;
        }
    }
}

.table-warning {
    background-color: #fbeebc;

    > {
        th, td {
            background-color: #fbeebc;
        }
    }
}

.table-hover .table-warning:hover {
    background-color: #fae8a4;

    > {
        td, th {
            background-color: #fae8a4;
        }
    }
}

.table-danger {
    background-color: #f1c1c0;

    > {
        th, td {
            background-color: #f1c1c0;
        }
    }
}

.table-hover .table-danger:hover {
    background-color: #ecacab;

    > {
        td, th {
            background-color: #ecacab;
        }
    }
}

.table-light {
    background-color: #fdfdfe;

    > {
        th, td {
            background-color: #fdfdfe;
        }
    }
}

.table-hover .table-light:hover {
    background-color: #ececf6;

    > {
        td, th {
            background-color: #ececf6;
        }
    }
}

.table-dark {
    background-color: #c6c8ca;

    > {
        th, td {
            background-color: #c6c8ca;
        }
    }
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe;

    > {
        td, th {
            background-color: #b9bbbe;
        }
    }
}

.table-active {
    background-color: rgba(0, 0, 0, 0.04);

    > {
        th, td {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.04);

    > {
        td, th {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
}

.table .thead-dark th, .text-wrap table .thead-dark th {
    color: #f5f7fb;
    background-color: #212529;
    border-color: #32383e;
}

.table .thead-light th, .text-wrap table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.table-dark {
    color: #f5f7fb;
    background-color: #212529;

    th, td, thead th {
        border-color: #32383e;
    }

    &.table-bordered {
        border: 0;
    }
}

.text-wrap table.table-dark {
    border: 0;
}

.table-dark {
    &.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &.table-hover tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.075);
    }
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        > .table-bordered {
            border: 0;
        }
    }
    .text-wrap .table-responsive-sm > table {
        border: 0;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        > .table-bordered {
            border: 0;
        }
    }
    .text-wrap .table-responsive-md > table {
        border: 0;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        > .table-bordered {
            border: 0;
        }
    }
    .text-wrap .table-responsive-lg > table {
        border: 0;
    }
}

@media (max-width: 1279.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        > .table-bordered {
            border: 0;
        }
    }
    .text-wrap .table-responsive-xl > table {
        border: 0;
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    > .table-bordered {
        border: 0;
    }
}

.text-wrap .table-responsive > table {
    border: 0;
}
