@import "~styles/utils/mixins.scss";

.main-body {
    display: flex;
    height: calc(100vh - 70px);
    margin-top: 70px;

    &-container {
        overflow-y: auto;
        height: 100%;
        transition: 0.25s;
    }
}
