@import "~styles/utils/mixins.scss";

.residences-actions {
    margin: 10px 0;

    &__tabs {
        margin-top: 10px;
        display: flex;
    }

    &__add-button {
        width: 150px;
        margin-right: 30px;
    }

    &__search {
        width: 300px;

        .form-label {
            display: none;
        }
    }
}
