@import "~styles/utils/variables.scss";
@import "~styles/utils/functions.scss";

body, html, #root, .app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
}
